<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailor's Shop</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <i class="fa-brands fa-sketch"></i><span class="red"> SM</span>TAILOR'S
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/allCustomer">All Customers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/addCustomer">New Customer</a>
                </li>
                </ul>
                <form class="d-flex" role="search" action="/searchCustomer" method="GET">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name" required>
                  <button class="btn btn-dark" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>

      
          <div class="container content">
            <h1 class="text-center mt-4 sizee"><i class="fa-brands fa-sketch "></i></h1>
            <h1 class="text-center "> <span class="red">SM</span>TAILOR'S</h1>
            <h1 class="text-center">जेन्टस स्पेशालिस्ट </h1>
            <h2 class="text-center red">आमच्याकडे सर्व प्रकारचे फॉर्मल ड्रेस तसेच स्कुल व कॉलेजचे युनिफॉर्म शिवुन मिळतील. </h2>
             <div class="containerr">
              <div class=" center-div" role="group" aria-label="Basic mixed styles example" style="text-align: center;">
               <button type="button " class="btn btn-dark bradius mt-2">फॉर्मल शर्ट</button>
               <button type="button" class="btn btn-warning bradius mt-2">फॉर्मल पॅन्ट</button>
               <button type="button" class="btn btn-success bradius mt-2">ॲपल कट</button>
               <button type="button" class="btn btn-info bradius mt-2">नवरदेवाचे ड्रेस</button>
               <br>
               <button class="btn mt-2 pt-2 nameD backcut">प्रो.प्रा. सुरेश माळवदकर 9271203387</button> 
               <br>
               <button class="btn mt-2 pt-2  btn-dark">पत्ता : महात्मा बश्वेशवर चौक, शेळगी, सोलापूर
              </button> 

              </div>
             </div>

            
            
          </div>

         <footer class="bg-dark text-white text-center py-4 mt-2">
          <div class="container">
              <div class="d-flex justify-content-center mb-3">
                  <a href="https://www.instagram.com/rushiikoli_?igsh=MmVlMjlkMTBhMg%3D%3D&utm_source=qr" class="text-white mx-2" target="_blank">
                      <i class="fab fa-instagram fa-2x"></i>
                  </a>
                  <a href="https://t.me/PYQWALA" class="text-white mx-2" target="_blank">
                      <i class="fab fa-telegram fa-2x"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/rushikeshkoli/" class="text-white mx-2" target="_blank">
                      <i class="fab fa-linkedin fa-2x"></i>
                  </a>
                  <a href="https://wa.me/9271203387" class="text-white mx-2" target="_blank">
                      <i class="fab fa-whatsapp fa-2x"></i>
                  </a>
              </div>
              <div class="mb-3 dremove">
                  <a href="/" class="text-white mx-2 ">Privacy Policy</a>
                  <a href="/" class="text-white mx-2">About Us</a>
                  <a href="/" class="text-white mx-2">Contact Us</a>
                  <a href="/" class="text-white mx-2"></a>
              </div>
              <p class="mb-0">© 2024 Developed by Rushikesh koli&#129535; +919579695273</p>
          </div>
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> -->
</body>
</html>
